// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#customers
table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
//#customers td, #customers th
td
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
//#customers th
th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
//#customers tr.alt td 
//table, td, th
/*{
color:#000000;
background-color:#EAF2D3;
}*/